<ul class="list-group">
    <h3>{{ tags|length }} доступних тегів</h3>
    {% for tag in tags %}
        <li class="list-group-item">
            <a href="{{ path("basarab_handmade_tags_get", {"slug": tag.slug}) }}">
                {{ tag.name }}
            </a>
        </li>
    {% else %}
        <li class="list-group-item">
            <h3 class="alert alert-danger">
                На даний момент не добавлено ні одного тегу
            </h3>
        </li>
    {% endfor %}
</ul>